@import "tailwindcss";

@theme {
  --color-tertiary-fixed: #ffdea2;
  --color-tertiary: #5a4100;
  --color-error: #ba1a1a;
  --color-surface-container: #efeeeb;
  --color-primary: #00511e;
  --color-surface-dim: #dbdad7;
  --color-primary-container: #126b2e;
  --color-on-primary-container: #94e99d;
  --color-on-secondary-container: #6b4800;
  --color-on-error: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-background: #faf9f6;
  --color-inverse-on-surface: #f2f1ee;
  --color-secondary-fixed: #ffdeae;
  --color-surface: #faf9f6;
  --color-secondary-fixed-dim: #ffba3f;
  --color-on-secondary-fixed: #281900;
  --color-inverse-primary: #85d98f;
  --color-primary-fixed-dim: #85d98f;
  --color-surface-tint: #156d30;
  --color-surface-container-low: #f4f3f1;
  --color-on-tertiary-fixed-variant: #5c4200;
  --color-surface-container-highest: #e3e2e0;
  --color-surface-bright: #faf9f6;
  --color-secondary-container: #fdb322;
  --color-outline: #707a6e;
  --color-inverse-surface: #2f312f;
  --color-on-primary-fixed: #002108;
  --color-surface-variant: #e3e2e0;
  --color-outline-variant: #bfc9bc;
  --color-on-error-container: #93000a;
  --color-on-surface: #1a1c1a;
  --color-on-secondary: #ffffff;
  --color-on-primary-fixed-variant: #00531f;
  --color-on-secondary-fixed-variant: #604100;
  --color-error-container: #ffdad6;
  --color-secondary: #7f5600;
  --color-primary-fixed: #a1f6a9;
  --color-on-surface-variant: #40493f;
  --color-on-tertiary-fixed: #261900;
  --color-on-tertiary-container: #fdcf73;
  --color-on-primary: #ffffff;
  --color-surface-container-high: #e9e8e5;
  --color-on-tertiary: #ffffff;
  --color-tertiary-fixed-dim: #edc066;
  --color-tertiary-container: #785700;
  --color-on-background: #1a1c1a;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;

  --font-serif: var(--font-headline);
  --font-sans: var(--font-body);
  --font-body: var(--font-body);
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 24;
  }
}
